* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(rgba(207, 36, 37, 1) 0%, rgba(218, 59, 63, 0.63) 50%, rgba(207, 36, 37, 1) 100%);
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.menu {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.menu-texto {
    color: white;
}

.corpo {
    background-image: url(./img/coca-cola-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto {
    font-size: 40px;
    color: white;
    transform: translateX(-200px);
    width: 200px;
    text-align: right;
}

.garrafa {
    height: 85vh;
    position: absolute;
}

.rodape {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

@media (max-width: 768px) {
    body {
        padding: 24px;
    }

    .corpo {
        align-items: flex-start;
    }

    .garrafa {
        height: 65vh;
        bottom: 50px;
    }

    .texto {
        transform: translateX(0);
        font-size: 24px;
        text-align: center;
        width: 150px;
    }
}
